nav {
    text-align: end;
    background-color: #2570a1;
}

nav ul {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0px;
    padding: 23px 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #CAE5FD;
    padding: 23px;
}

nav ul li a:hover {
    color: #21618c;
    background-color: #CAE5FD;
}


main {
    background-color: #21618c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 128px);
}
.tituloForm h1{
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: #CAE5FD;
    margin: 0px;
}

form {
    text-align: center;
    width: 300px;
    height: 350px;
    background-color:#3498db;
    border-radius: 5px;
    box-shadow: 0px 0px 20px black;
}

#nombre, #apellido{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 2px;
    text-indent: 10px;
}

#direccion {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 2px;
    text-indent: 10px;
}

#guardar{
    width: 80%;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background-color: #CAE5FD;
}

.volver{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5px;
}

.volver a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#CAE5FD;
}

input {
    border: none;
}

footer {
    background-color: #2570a1;
    text-align: center;
    padding: 23px;
}

footer p {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p a {
    text-decoration: none;
}

::placeholder{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #292626f0;
    font-weight: lighter;
}

@media only screen and (max-width: 495px) {
    nav ul li {
        margin: auto;
    }

    nav ul li a {
        padding: 23px 0;
    }

    main {
        min-height: calc(100vh - 147px);
    }
}