html {
    height: 100%;
}

body {
    min-height: 100vh;
    position: relative;
}

nav {
    position: absolute;
    background-color: #2570a1;
    height: 10%;
    width: 100%;
}

ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 0;
    text-align: right;
}

li {
    display: inline-block;
    margin-right: 2%;
}

li a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #CAE5FD;
    padding: 23px;
}

li:hover {
    background-color: #CAE5FD;
}

li:hover a:first-child {
    color: #21618c;
}


main {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 10%;
    border: none;
    text-align: center;
    background-color: #21618c;   
}

footer {
    background-color: #2570a1;
    text-align: center;
    position: absolute;
    top: 90%;
    height: 10%;
    width: 100%;
}

footer p {
    margin: 0px;
    padding: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p a {
    text-decoration: none;
}